/* *** Section-1 *** */
.slider-main-item {
	position: relative;
}

.slider-text {
	position: absolute;
	max-width: calc(1170px / 2);
	top: 100px;
	left: 50%;
	p {
		font-size: 1.6em;
		line-height: 30px;
		padding: 30px 0;
	}
}

.slider-text-bottom {
	h3 {
		float: left;
		font-size: 4.8em;
		margin-top: 10px;
		span {
			font-size: .7em;
			font-family: GeometriaLight;
		}
	}
	a {
		display: block;
		float: right;
		margin-right: 15px;
		@include buttons ($accent-black, $accent-color, $accent-color, '');
		padding: 18px 50px;
		font-size: 1.4em;
		&:hover {
			@include buttons-hover ($accent-black, transparent, $accent-color);
		}
	}
}

/* *** Section Footwear type *** */
.footweat-type-btn {
	display: block;
	position: relative;
	margin: 0 -15px;
	p {
		text-align: center;
		text-transform: uppercase;
		font-family: GeometriaMedium;
		font-size: 14px;
		letter-spacing: .1em;
		margin-top: 30px;
	}
	&:hover {
		color: $accent-black;
	}
	&:hover::before {
		position: absolute;
		content: '';
		top: 10px;
		bottom: 10px;
		left: 10px;
		right: 10px;
		border: 2px solid $accent-color;
		border-radius: 5px;
	}
}

.footweat-type-btn-logo {
	position: relative;
	height: 60%;
	img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 17%;
		height: auto;
	}
}

/* *** Section Production *** */
#production {
	padding: 80px 0;
	box-shadow: $section-shadow;
}

/* *** Section Catalog *** */
.catalog {
	box-shadow: $section-shadow;
}

.footwear-item {
	position: relative;
	background-color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 55px;
	border-radius: 5px;
	p {
		font-family: GeometriaMedium;
		font-size: 12px;
		letter-spacing: .1em;
		margin-bottom: 5px;
	}
	h5 {
		font-family: GeometriaMedium;
		font-size: 30px;
		margin: 35px 0 25px;
		span {
			font-family: GeometriaLight;
			font-size: 14px;
		}
	}
	& > a {
		display: inline-block;
		@include buttons ($accent-color, transparent, $accent-color, '../images/cart.png');
		padding: 15px 50px 15px 85px;
		background-position: 30% 45%;
		margin-bottom: 40px;
		&:hover {
			opacity: .7;
		}
	}
	& div:last-child {
		display: none;
		position: absolute;
		bottom: -30px;
		left: 0;
		right: 0;
		padding-bottom: 30px;
		background-color: #fff;
	}
	&:hover div:last-child {
		display: block;
	}
	&:hover {
		box-shadow: 0 0 25px #e1e1e1;
	}
}

.footwear-img-wrapper {
	height: 220px;
	line-height: 220px;
	vertical-align: middle;
}

.footwear-select {
	text-align: left;
	text-transform: uppercase;
	font-family: GeometriaMedium;
	letter-spacing: .1em;
	color: #222;
	margin-top: 55px;
	h4 {
		font-size: 18px;
		position: relative;
		margin-bottom: 15px;
		&::after {
			position: absolute;
			content: '';
			bottom: -15px;
			left: 0;
			height: 2px;
			width: 45px;
			background-color: $accent-color;
		}
	}
}

.footwear-select-list {
	margin: 45px 0 30px;
	li {
		list-style-type: none;
		font-size: 12px;
		cursor: pointer;
		margin: 30px 0;
		&:hover {
			color: $accent-color;
		}
		&:focus {
			color: $accent-color;
		}
	}
}

/* *** Section Production *** */
.production-2-left {
	
}

.slideshow {
	max-width: 550px;
}

.slideshow-display {
	max-width: 550px;
	max-height: 335px;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 15px;
	img {
		width: 100%;
		height: auto;
	}
}

.slideshow-list {
	//text-align: justify;
	max-width: 550px;
	&:after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 0;
	}
	li {
		//display: inline-block;
		display: block;
		float: left;
		max-height: 105px;
		list-style-type: none;
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 15px;
		margin-right: 15px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		a {
			display: block;
			img {
				width: 100%;
			}
		}
	}
}

.production-2-text {
	article {
		font-size: 16px;
		font-family: Geometria;
		line-height: 30px;
		text-align: left;
		&:first-child {
			margin-bottom: 50px;
		}
	}
}

.production-2-right {
	text-align: center;
}

/* *** Section sales *** */
#sales {
	background-image: url('../images/section-bg.jpg');
	background-repeat: cover;
	padding: 60px 0 40px;
}

.sales-icons-item {
	margin-top: 45px;
	max-width: 290px;
	img {
		width: 89px;
		height: 89px;
		margin-right: 10px;
	}
	p {
		font-family: GeometriaMedium;
		font-size: 14px;
		letter-spacing: .025em;
		line-height: 18px;
		text-transform: uppercase;
		span {
			font-size: 30px;
		}
	}
}

.sales-info {
	margin-top: 60px;
	p {
		margin-bottom: 50px;
		font-size: 16px;
		line-height: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.sales-price {
	margin-top: 60px;
	padding: 50px;
	background-color: #fff;
	max-width: 470px;
	margin-left: auto;
	margin-right: auto;
	h5 {
		font-family: GeometriaMedium;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 20px;
	}
	span {
		font-family: GeometriaLight;
		font-size: 36px;
	}
	a {
		display: block;
		padding: 10px 0;
		width: 200px;
		text-align: center;
		margin-bottom: 40px;
		@include buttons ($accent-color, transparent, $accent-color, '');
		&:hover {
			@include buttons-hover ($accent-black, $accent-color, $accent-color);
		}
		&:last-child {
			margin-top: 20px;
			margin-bottom: 0;
		}
	}
}

/* ***  Section news *** */
#news {
	padding: 60px 0 140px;
}

.news-left {
	text-align: center;
	padding: 110px 40px;
	h5 {
		font-family: GeometriaMedium;
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 25px;
	}
	a {
		padding: 10px 50px;
		display: inline-block;
		@include buttons ($accent-color, transparent, $accent-color, '');
		&:hover {
			@include buttons-hover ($accent-black, $accent-color, $accent-color);
		}
	}
}

.news-right {
	ul {
		margin-bottom: 20px;
		li {
			list-style-type: none;
			padding: 15px 0;
			border-bottom: 1px solid #eee;
			a {
				font-family: GeometriaMedium;
				text-transform: uppercase;
				font-size: 18px;
				&:hover {
					opacity: .8;
					color: inherit;
				}
			}
		}
	}
}

// Страница КАТАЛОГ 
.catalog-select {
	padding: 60px 0;
	box-shadow: $section-shadow;
}

.section-breadcrumb {
	.breadcrumb {
		background-color: transparent;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		li {
			font-family: Geometria;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .025em;
			color: #a8a8a8;
			margin-bottom: 10px;
			& + li::before {
				content: "- ";
				padding: 0 5px;
				color: #a8a8a8;
			}
			a {
				color: #a8a8a8;
			}
		}
	}
}

.sort-by {
	margin-top: 50px;
	margin-bottom: 25px;
	a {
		position: relative;
		font-family: GeometriaMedium;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .025em;
		margin-right: 35px;
		&:hover {
			color: $accent-color;
		}
		&::after {
			position: absolute;
			content: '';
			top: 0px;
			right: -15px;
			border: solid $accent-color;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
		}
	}
}

.show-by {
	margin-top: 50px;
	span {
		float: left;
		font-family: GeometriaMedium;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .025em;
	}
	ul {
		float: right;
		li {
			list-style-type: none;
			display: block;
			float: left;
			margin-left: 5px;
			margin-top: -9px;
			font-family: Geometria;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .025em;
			padding: 8px;
			color: $accent-color;
			border-radius: 5px;
			border: 1px solid transparent;
			cursor: pointer;
		}
	}
}

.show-by-active {
	border: 1px solid $accent-color !important;
}

/*.footwear-select-detail {
	width: 230px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	overflow-y: hidden;
	.panel-heading {
		padding: 0;
		border: none;
		border-top-right-radius: 0 !important;
	}
	.panel-title {
		background-color: #fff;
		border: none;
		a {
			display: block;
		}
	}
	.panel-group .panel + .panel {
		margin-top: 0;
	}
	.panel-group {
		border: none;
		margin-bottom: 0;
	}
	.panel-default {
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid #eaeaea;
		&:last-child {
			border: none;
		}
	}
	.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
		border: none;
	}
}*/

.footwear-detail-accordeon {
	width: 230px;
	border: 1px solid #eaeaea;
	border-radius: 5px;
	margin-top: -60px;
}

.footwear-detail-collapse {
	border-bottom: 1px solid #eaeaea;
	a {
		display: block;
		position: relative;
		padding: 20px;
		font-family: GeometriaMedium;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .025em;
		&:hover {
			color: inherit;
		}
		span {
			display: none;
			position: absolute;
			content: '';
			top: 40%;
			right: 20px;
			border: solid $accent-color;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
		}
	}
}

.footwear-detail-content {
	display: none;
	padding: 0 20px 20px 20px;
}

.footwear-item-border {
	@extend .footwear-item;
	border: 1px solid #eaeaea;
	margin-top: 0;
	margin-bottom: 30px;
	& div:last-child {
		background-color: transparent;
	}
	&:hover {
		border-color: transparent;
		box-shadow: none;
	}
	&:hover .footwear-item-border-hover {
		position: absolute;
		top: 0;
		bottom: -30px;
		right: 0;
		left: 0;
		border: 1px solid #eaeaea;
		box-shadow: 0 0 25px #e1e1e1;
		border-radius: 5px;
		z-index: 0;
	}
	& > a {
		position: relative;
		z-index: 10;
	}
}


/* *** Slider Range UI *** */
.range-slider {
	width: 190px;
	input {
		width: 85px;
		border: 1px solid #eaeaea !important;
		border-radius: 4px;
		padding: 7px;
		margin-bottom: 20px;
		font-family: Geometria;
		font-size: 12px;
		letter-spacing: .025em;
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
	.ui-widget.ui-widget-content {
		border: none;
		border-radius: 0;
		background-color: #efefef;
		height: 5px;
	}
	.ui-widget-header {
		background-color: $accent-color;
	}
	.ui-state-default, .ui-widget-content .ui-state-default {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
		border: 3px solid $accent-color;
		cursor: pointer;
	}
	.ui-slider-horizontal .ui-slider-handle {
		top: -.8em;
	}
}

.footwear-detail-checkbox {
	input {
		margin-right: 10px;
		vertical-align: middle;
		margin-top: 0;
	}
	p {
		font-family: Geometria;
		font-size: 12px;
		letter-spacing: .025em;
		text-transform: uppercase;
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.select-size {
	li {
		text-align: center;
		font-family: Geometria;
		font-size: 12px;
		letter-spacing: .025em;
		list-style-type: none;
		display: block;
		float: left;
		padding: 10px 0;
		width: 38px;
		border: 1px solid #eaeaea;
		border-radius: 5px;
		cursor: pointer;
		margin-right: calc((188px - (40px * 4)) / 3);
		margin-bottom: 8px;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}

.size-inactive {
	color: #d0d0d0;
	pointer-events: none;
}

.size-active {
	background-color: #f4f4f4;
}

.footwear-detail-btn {
	a {
		display: block;
		@include buttons ($accent-color, transparent, $accent-color, '');
		padding: 12px 0;
		text-align: center;
		margin: 20px;
		&:hover {
			opacity: .7;
		}
	}
}

.site-pagination {
	text-align: center;
	margin-top: 30px;
	li {
		list-style-type: none;
		display: inline-block;
		margin-bottom: 5px;
		a {
			display: block;
			margin-left: 5px;
			font-family: Geometria;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .025em;
			padding: 8px 12px;
			color: $accent-color;
			border-radius: 5px;
			border: 1px solid transparent;
		}
	}
}

.pagination-active {
	a {
		border: 1px solid $accent-color !important;
	}
}

// Product Page *********************
#section-breadcrumb {
	padding-top: 60px;
}

/* ***  Single Product Section *** */
#single-product {
	padding-bottom: 80px;
}

.single-product-image {
	position: relative;
	max-width: 530px;
	height: 470px;
	border: 1px solid $border-color;
	border-radius: 5px;
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
}

.single-product-detail {
	margin-top: 25px;
}

.single-product-price {
	border-bottom: 1px solid $border-color;
	padding-bottom: 30px;
	h3 {
		float: left;
		position: relative;
		font-family: GeometriaMedium;
		font-size: 36px;
		color: #222;
		&::after {
			position: absolute;
			content: 'руб';
			bottom: 6px;
			right: -33px;
			font-family: Geometria;
			text-transform: uppercase;
			font-size: 14px;
		}
		span {
			text-decoration: line-through;
			font-family: GeometriaMedium;
			font-size: 14px;
			color: $accent-color;
		}
	}
	a {
		display: inline-block;
		margin-left: 50px;
		margin-top: -7px;
		@include buttons ($accent-color, transparent, $accent-color, '../images/cart.png');
		padding: 15px 50px 15px 85px;
		background-position: 30% 45%;
		&:hover {
			opacity: .7;
		}
	}
}

.single-product-size {
	border-bottom: 1px solid $border-color;
	padding: 30px 0;
	h6 {
		font-family: GeometriaMedium;
		font-size: 12px;
		letter-spacing: .025em;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	.footwear-detail-content {
		display: block;
		padding: 0;
		ul li {
			margin-right: 8px;
		}
	}
}

.single-product-color {
	padding: 30px 0;
	h6 {
		font-family: GeometriaMedium;
		font-size: 12px;
		letter-spacing: .025em;
		text-transform: uppercase;
		margin-bottom: 15px;
	}
}

.product-slider {
	margin: 0 100px;
	.slick-prev {
		width: 30px;
		height: 50px;
		background-color: transparent;
		border: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: -70px;
		margin: auto;
		&::before {
			position: absolute;
			content: "";
			top: 8px;
			left: 10px;
			border: solid $accent-color;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 15px;
			transform: rotate(135deg)
		}
	}
	.slick-next {
		width: 30px;
		height: 50px;
		background-color: transparent;
		border: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -70px;
		margin: auto;
		&::before {
			position: absolute;
			content: "";
			top: 8px;
			right: 10px;
			border: solid $accent-color;
			border-width: 0 3px 3px 0;
			display: inline-block;
			padding: 15px;
			transform: rotate(-45deg)
		}
	}
}

/* ***  See Also Section *** */
#see-also {
	padding: 80px 0;
	.footwear-item-border {
		margin-bottom: 0;
		margin-top: 20px;
		&:hover {
			border: 1px solid #eaeaea;
		}
	}
}

