@font-face {
    font-family: Geometria;
    src: url('../fonts/Geometria.otf');
}

@font-face {
    font-family: GeometriaMedium;
    src: url('../fonts/Geometria-Medium.otf');
}

@font-face {
    font-family: GeometriaBold;
    src: url('../fonts/Geometria-Bold.otf');
}

@font-face {
    font-family: GeometriaLight;
    src: url('../fonts/Geometria-Light.otf');
}