@mixin buttons ($btn-font-color, $btn-bg-color, $btn-border-color, $btn-bg-img) {
	background-color: $btn-bg-color;
	border: 2px solid $btn-border-color;
	background-image: url($btn-bg-img);
	background-repeat: no-repeat;
	border-radius: 5px;
	color: $btn-font-color;
	font-family: GeometriaMedium;
	font-size: 1.2em;
	letter-spacing: .1em;
	text-transform: uppercase;
	transition: .1s;
}

@mixin buttons-hover ($btn-font-color, $btn-bg-color, $btn-border-color) {
	background-color: $btn-bg-color;
	border: 2px solid $btn-border-color;
	color: $btn-font-color;
}